body, html {
  background-color: #242424;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 60px;
  background-color: #2F2F2F;
}
.wrapper_header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1204px;
}
.wrapper_header .header .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper_header .header .link_header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wrapper_header .header .link_header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0px 7px;
}
.wrapper_header .header .link_header a {
  margin: 0 7px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.wrapper_header .header .link_header a:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #535252;
}
.wrapper_header .header .link_header .link_a_1 {
  border-bottom: 2px solid;
}

.search_input {
  background: url("../img/header/icon_search.svg") no-repeat 15px;
  background-position: 4% 50%;
  background-color: #535252;
  border: none;
  border-radius: 8px;
  width: 180px;
  height: 25px;
  padding-left: 30px;
  margin-right: 38.25px;
  color: white;
  font-size: 14px;
}
.search_input:focus {
  outline: 2px white solid;
}
.search_input:focus::-webkit-input-placeholder {
  color: white;
  font-size: 14px;
}
.search_input:focus::-moz-placeholder {
  color: white;
  font-size: 14px;
}
.search_input:focus:-ms-input-placeholder {
  color: white;
  font-size: 14px;
}
.search_input:focus::-ms-input-placeholder {
  color: white;
  font-size: 14px;
}
.search_input:focus::placeholder {
  color: white;
  font-size: 14px;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 115px;
}
.login .login_icon {
  margin-right: 7.75px;
}
.login .login_link {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.login .login_link:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #535252;
}

.wprapper_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1204px;
}

.content_posts {
  margin: 18px 18px 18px 0;
  padding: 18px;
  width: 825px;
  background-color: #2F2F2F;
  border-radius: 8px;
}

.name_content_person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
  width: 81px;
}

.image_post_content {
  width: 825px;
}

.image_post_content_img {
  width: 100%;
}

.title_post {
  margin: 18px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text_post_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #535252;
}

.text_post_description_p {
  margin-bottom: 18px;
}

.post_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 18px;
}

.post_footer a {
  color: #535252;
}

.post_footer_stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.like_post, .comments_post, .favorites_post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 17px;
}

.view_post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #535252;
}

.like_post_love, .comment_post_comm, .favorites_post_fav, .view_post_vw {
  margin-right: 5px;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 325px;
  margin-top: 18px;
}

.link_sidebar {
  background-color: #2F2F2F;
  border-radius: 8px;
  height: 53px;
}

.link_sidebar_a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.link_sidebar_a, .link_sidebar_dop_a {
  margin-left: 18px;
}

.link_sidebar_dop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2F2F2F;
  border-radius: 8px;
  height: 85px;
  margin-top: 18px;
}

.link_sidebar_dop_a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link_sidebar_dop_a_sp {
  color: #535252;
  font-size: 14px;
}

.link_sidebar_stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #2F2F2F;
  margin-top: 18px;
  border-radius: 8px;
  width: 289 px;
  padding: 18px;
}

.link_sidebar_desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 14px;
}

.link_sidebar_desc span {
  color: white;
}

.link_sidebar_desc img {
  width: 16px;
  margin-left: 8px;
}

.lssc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-top: 8px;
}

.lssc .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lssc .name p {
  margin-left: 8px;
}

.advertising_sidebar {
  margin-top: 18px;
  width: 325px;
}

@media only screen and (min-device-width: 1200px) {
  .m_icon_link {
    display: none;
  }
}
@media only screen and (min-device-width: 0px) and (max-device-width: 319px) {
  body {
    display: none;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 1200px) {
  .wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .wrapper_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 10%;
    background-color: #2F2F2F;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .link_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .logo a {
    display: none;
  }

  .wrapper_header .header .link_header .ul_li_link_header {
    display: none;
  }

  .logo {
    display: none;
  }

  .search_input {
    display: none;
  }

  .login {
    display: none;
  }

  .wprapper_content .sidebar {
    display: none;
  }

  .wprapper_content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .content_posts {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .image_post_content {
    width: 99.9%;
  }

  .footer {
    margin-bottom: 70px;
  }
}