body,html{background-color: #242424;}
*{margin: 0;padding: 0;font-family: 'Roboto', sans-serif;}
a{text-decoration: none;color: white}

// Переменные ##########################################
$ot:18px;
$collith:#535252;

// Обертка
.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

// Header ##########################################
.wrapper_header {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 60px;
	background-color: #2F2F2F;

	.header {
		display: flex;
		align-items: center;
		width: 1204px;

		.logo a {
			display: flex;
			align-items: center;
		}

		.link_header {
			width: 100%;
			display: flex;
			justify-content: center;

			& ul {
				display: flex;
				list-style: none;
				margin: 0px 7px;

			}
			& a {
				margin: 0 7px;
				color: #FFFFFF;
				font-size: 14px;
				transition: all 0.3s ease 0s;

			&:hover {
				transition: all 0.3s ease 0s;
				color: #535252;
			}
			}
		.link_a_1 {
			border-bottom: 2px solid;
		}
		}
}
}

// Поиск 
.search_input {
	background: url('../img/header/icon_search.svg') no-repeat 15px;
	background-position: 4% 50%;
	background-color: $collith;
	border: none;
	border-radius: 8px;
	width: 180px;
	height: 25px;
	padding-left: 30px;
	margin-right: 38.25px;
	color: white;
	font-size: 14px;

	&:focus {
	  outline: 2px white solid;
		&::placeholder {
			color: white;
			font-size: 14px;
		}
}
}

// Войти
.login {
	display: flex;
	justify-content: right;
	align-items: center;
	width: 115px;

	.login_icon {
		margin-right: 7.75px;
	}
	.login_link {
		transition: all 0.3s ease 0s;
	}
.login_link:hover {
		transition: all 0.3s ease 0s;
		color: #535252;
	}
}

// Контент ##########################################
// Обертка
.wprapper_content {
	display: flex;
	width: 1204px;
}

.content_posts {
	margin: 18px 18px 18px 0;
	padding: 18px;
	width: 825px;
	background-color: #2F2F2F;
	border-radius: 8px;
}

.name_content_person {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 18px;
	width: 81px;
}
.image_post_content {
	width: 825px;
}
.image_post_content_img {
	width: 100%;
}

.title_post {
	margin: 18px 0px;
	display: flex;
	flex-direction: column;
}
.text_post_date {
	display: flex;
	align-items: flex-start;
	color: #535252;
}

.text_post_description_p {
	margin-bottom: 18px;
}

.post_footer {
	display: flex;
	justify-content: space-between;
	margin-top: 18px;
}
.post_footer a {
	color: #535252;
}
.post_footer_stat {
	display: flex;
}
.like_post, .comments_post, .favorites_post {
	display: flex;
	align-items: center;
	margin-right: 17px;
}
.view_post {
	display: flex;
	align-items: center;
	color: #535252;
}
.like_post_love, .comment_post_comm, .favorites_post_fav, .view_post_vw {
	margin-right: 5px;
}

// .like_post svg path {
// 	fill: red;
// }

// Правый блок ##########################################
.sidebar {
	display: flex;
	flex-direction: column;
	width: 325px;
	margin-top: 18px;
}

.link_sidebar {
	background-color: #2F2F2F;
	border-radius: 8px;
	height: 53px;
}
.link_sidebar_a {
	display: flex;
	align-items: center;
	height: 100%;
}

.link_sidebar_a, .link_sidebar_dop_a {
	margin-left: 18px;
}

.link_sidebar_dop {
	display: flex;
	justify-content: center;
	background-color: #2F2F2F;
	border-radius: 8px;
	height: 85px;
	margin-top: 18px;
}
.link_sidebar_dop_a {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.link_sidebar_dop_a_sp {
	color: #535252;
	font-size: 14px;
}

.link_sidebar_stat {
	display: flex;
	flex-direction: column;
	background-color: #2F2F2F;
	margin-top: 18px;
	border-radius: 8px;
	width: 325-(18*2)px;
	padding: 18px;
}

.link_sidebar_desc {
	display: flex;
	margin-bottom: 14px;

}
.link_sidebar_desc span {
	color: white;
}
.link_sidebar_desc img {
	width: 16px;
	margin-left: 8px;
}

.lssc {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	margin-top: 8px;
}

.lssc .name {
	display: flex;
	align-items: center;
}
.lssc .name p {margin-left: 8px;}

// Реклама ##########################################
.advertising_sidebar {
	margin-top: 18px;
	width: 325px;
}


// Адаптив ##########################################
@media only screen
  and (min-device-width: 1200px) {
    .m_icon_link { 
    	display: none; 
    }
}

@media only screen
  and (min-device-width: 0px)
  and (max-device-width: 319px) {
    body { 
    	display: none; 
    }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 1200px) {
.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

// Header ##########################################
.wrapper_header {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 56px;
	background-color: #2F2F2F;
	position: fixed;
	bottom: 0;
	left: 0;

}

.header {
}

.link_header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo a {
	display: none;
}

.wrapper_header .header .link_header .ul_li_link_header{
	display: none;
}

.logo {display: none;}

// Поиск 
.search_input {display: none;}

// Войти
.login {display: none;}


// Контент ##########################################
.content_posts_link_profil {
	width: 100%;
}
.wprapper_content .sidebar {
	display: none;
}
.wprapper_content {
	width: 100%;
	display: flex;
	justify-content: center;
}
.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.content_posts {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px auto;
}
.image_post_content {
	width: 99.9%;
}

.post_footer {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.footer {
	margin-bottom: 70px;
}

}
